.main{
    
    width: 40%;
    box-shadow: 1px 1px 10px silver ;
    margin-top: 70px;
   margin-left: 30%;
    padding: 10px ;
    
}
h2{
    font-family: 'cairo' ,sans-serif;
    text-align: center;
}
input{
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-family: 'cairo', sans-serif;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
}
.inp1{
    margin-left: 8%;
}
.inp2{
    margin-left: 32%;
}
button{
    border: none;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    background-color: #1AC15C;
    cursor: pointer;
    font-family: 'cairo' ,sans-serif;
    margin-bottom: 15px;
}
label{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    /* background-color: #1F87CF; */
    font-family: 'cairo' ,sans-serif;
    color: white;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'cairo' ,sans-serif;
    font-weight: bold;
}
.card{
   border-width: 10px;
   border-color: black;
   border-style: solid;
}
